.no-pad {
	margin: 0;
	padding: 0;
}

.w-full {
	width: 100%;
}

.mg-t-md {
	margin-top: 10px;
}

.mg-t-sm {
	margin-top: 5px;
}

.mg-t-lg {
	margin-top: 20px;
}

.size-x2 {
	font-size: 2em;
}

.navbar-nav {
	float: none;
	display: inline-block;
}

.navbar-collapse {
	text-align: center;
}

a.a-white {
	text-decoration: none;
	color: #fff;
}

a.a-black {
	text-decoration: none;
	color: #000;
}